.app {
    padding: 1em;
}

h1 {
    padding-left: 1em;
    padding-top: 10px;
}

h4 {
    padding-left: 10px;
    padding-top: 5px;
}

.header {
    align-items: center;
}

.label {
    display: inline;
}

.axis-label {
    font-size: 11px;
}
