.line-chart {
    padding-left: 4em;
}

.line {
    fill: none;
    stroke: #40a9ff;
    stroke-width: 2px;
}

.tooltip {
    stroke-width: 1px;
    stroke: red;
}

.tip-label {
    fill: red;
    font-size: 11px;
}
